* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

.h {
    margin: 0px;
    padding: 5px;
    color: rgb(147, 35, 35);

}

.im {
    margin: 0px;
    border: 1px transparent gray;
    border-radius: 50%;

}

.main {
    margin: 0px;
    padding: 0px;
}

.n {
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.logo {
    margin: 0px;
    padding: 0px;

}

nav {
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.134);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}


nav ul {
    margin: 0px;

    display: flex;
    /* for  dot  removing use list style type */
    list-style-type: none;
    gap: 15px;
    padding-right: 10px;

}

nav ul li a {
    color: white;
    /* for under line removing  */
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgba(147, 35, 35, 0.804);

}

section.home {
    width: 100vw;
    min-height: 100vh;
    background: url('./assets/logo1.jpg');
    background-position: center;
    /* for no repetition in background attachment */
    background-repeat: no-repeat;
    background-size: cover;
    /* for background attachment upper side goes  */
    background-attachment: fixed;
    display: flex;
    color: rgba(163, 44, 44, 0.834);
    align-items: center;
}

.home {
    font-size: 45px;

}

h1 {
    margin-top: 95px;
    padding: 100px;
}

.cr {
    margin: 54px 0px 10px 40px;
    height: 250px;
    width: 200px;

}

/* .cric{
    margin: 0px 60px;
} */


.cri {

    display: flex;
    align-items: center;
    justify-content: center;
    /* if content in x-axis is more than stop overflow form x-axis and give flex wrap 
for content position according to size of screen  */
    flex-wrap: wrap;
    background-color: rgba(155, 154, 154, 0.203);

}

.cric p {
    margin: 3px 42px;
}




span {
    color: rgb(147, 35, 35);

}

.see a {
    text-decoration: none;

}

.clo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    background-color: rgba(155, 154, 154, 0.203);
}

.sh {
    margin: 55px 0px 10px 0px;
    height: 275px;
    width: 200px;
}

.sha {
    margin: 54px 0px 10px 0px;
    height: 275px;
    width: 350px;
}

p {
    font-size: 20px;
}

.sho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    background-color: rgba(155, 154, 154, 0.203);
}

.shoes {
    margin: 100px 0px 40px 50px;
    height: 275px;
    width: 200px;
}

.ser h1 {
    background-color: rgba(155, 154, 154, 0.203);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 0px;
}

.para {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 0px;
    padding-bottom: 110px;
    width: 100vw;
    min-height: 100vh;
    letter-spacing: 1px;
    background-color: #9b9a9a34;

}


.container {
    min-height: 100vh;
    width: 100%;
    background-color: aqua;
    background: linear-gradient(rgba(177, 176, 176, 0.713), #9b9a9a34);
    padding: 105px 150px 0px 150px;
    text-align: center;
}

.fo {
    background-color: aliceblue;
}

.fo h2 {
    color: rgb(147, 35, 35);
    padding: 8px 0px;
    margin-bottom: 5px;

}

.fo input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;

}

/* input #gender{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
} */

.fo button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(147, 35, 35);
    background: linear-gradient(rgba(177, 176, 176, 0.713), rgba(62, 62, 62, 0.76));

}

button:hover {
    color: white;
    background: linear-gradient(rgba(177, 176, 176, 0.713), rgba(62, 62, 62, 0.76));
    font-size: 25px;


}

footer {
    background-color: rgba(0, 0, 0, 0.779);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 8px;
    margin: 0px;
}